HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.settings
.springBeans
.sts4-cache
.class
.xml.versionsBackup

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
*.gz
*.flattened-pom.xml
zw*.log*.zip
*.class
target
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


/target/
/.settings/
.classpath
.project
/.metadata/

